* {
  box-sizing: border-box;
}

.col-xs-12
{
  float:none;
}

#m-navi {
  background-color: pink;
  min-height: 100px;
  border: 1px solid black;
}

#content {
  background-color: grey;
  
  width:80%;
}

.navbar-header button.navbar-toggle {
  clear: left;
  margin-top: -10px;
  border: 1px solid black;
}

#menu {
  background-color: yellow;
  text-align: center;
  border: 1px solid black;
  width: 100%;
  position: static;
  margin-top: 15px;
}

.navbar-toggle {
  margin: 0px;
}

.dropdown-toggle {
  padding: 0px;
  border: 1px solid black;
  float: right;
  clear: left;
  margin-top: -10px;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
  border: 2px solid black;
}

.navbar-default .navbar-header.open > .btn > .navbar-toggle > .icon-bar {
  border: 2px solid white;
}

#m-item {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: black;
}

h2,
h3 {
  text-align: center;
}

.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.navbar-default .navbar-header.open > .btn > .navbar-toggle {
  background-color: transparent;
  border: 1px solid white;
}

.dropdown-toggle.btn-default:hover,
.dropdown-toggle.btn-default:focus,
.btn-default:hover,
.btn-default:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
  border: 1px solid black;
}